.progress {
	display: flex;
	align-items: center;
	width: 20em;
	padding: 2px;
	background-color: #ddd;
	margin: 0.2em 0em;
	border-radius: 0.2em;
}

.progress .bar {
	display: inline-block;
	background-image: linear-gradient(#0fd112, #3cff3f);
	width: 0%;
	height: 1.2rem;
	border-radius: 0.2em;
}

.progress .percent {
	position: absolute;
	width: 20em;
	text-align: center;
}

.progress .percent:after {
	content: '%';
}

.img_desc_textarea {
    width: 100%;
    resize: vertical;
}

.img_editor {
    position: static;
}

.img_desc, .img_description {
    font-size: smaller;
    font-style: italic;
    color: #444444;
    text-align: center;
}

.img_container {
    display: inline-block;
    height: auto;
    width: min-content;
}